* {
    margin: 0;
}

*::selection {
    background-color: #ff7d19;
    color: #fff;
}

nav {
    user-select: none;
}

.top-bar {
    background-color: #1a1f29;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-dekstop {
    width: 20%;
    height: 100%;
    background-color: #f3eeee;
    padding: 20px 0;
    font-weight: bold;
}

.sidebar-dekstop a {
    text-decoration: none;
}

.sidebar-dekstop li {
    list-style-type: none;
    color: #ff7d19;
    margin: 0 0 10px 0;
}

.sidebar-dekstop li:hover {
    color: #1a1f29;
}

.sidebar-phone {
    display: none;
    width: 80%;
    height: 100%;
    background-color: #f3eeee;
    padding: 20px 0;
    font-weight: bold;
    right: 0;
    position: absolute;
}

.sidebar-phone.visible {
    display: block;
}

.sidebar-phone a {
    text-decoration: none;
}

.sidebar-phone li {
    list-style-type: none;
    color: #ff7d19;
    margin: 0 0 10px 0;
    font-size: 12px;
}

/* Phone */
@media (max-width: 600px) {
    .sidebar-dekstop {
        display: none;
    }
}

/* Tablet */
@media (min-width: 600px) {
    .burger-navbar {
        display: none !important;
    }

    .sidebar-phone {
        display: none;
    }
}
